body {
    background-color: #f6f6f6;
}

.matelas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .modifm {

        text-decoration: none;
        border: 2px solid black;
        padding: 5px;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        font-size: 16px;

        &:hover {
            background-color: rgb(252, 173, 27);
        }
    }

    .modifs {
        text-decoration: none;
        border: 2px solid black;
        padding: 5px;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        font-size: 16px;
margin-top: 5px;
        &:hover {background-color: rgb(255, 38, 38);}

    }

    .initprice {
        text-decoration: line-through;
    }

    .modify {
        display: flex;
        flex-direction: column;
    }

    .picture {
        width: 250px;

        img {
            width: 100%;
        }
    }
}

.title{
    display: flex;
    max-width: 1700px;
    justify-content: space-evenly ;
}

.container {
    margin: auto;
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
        margin: auto;
    }
}

header {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
    align-items: center;

    .modif {
        text-decoration: none;
        border: 2px solid black;
        padding: 5px;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        font-size: 30px;

        &:hover {
            background-color: rgb(252, 173, 27);
        }
    }
}

.addmatelas {
    max-width: 1700px;
    margin: auto;

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;

        .form-group {
            display: flex;
            flex-direction: column;
            margin: auto;
            margin-top: 15px;
        }
    }

    input {
        width: 400px;
        height: 20px;
    }
}

.label {
    display: flex;
    flex-direction: column;

    input {
        width: 300px;
    }
}

#ajoutermatelas {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 300px;
    background-color: green;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 5px;

    &:hover {
        background-color: rgb(1, 104, 1);
    }
}

/* Tablettes ordinateurs */
@media only screen and (min-width: 768px) {
  
}


.matelasm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    input {
        height: 25px;
    }
}

@media only screen and (max-width: 1800px) {
    .matelasm {
        display: flex;
        flex-direction: column;
        
    }
}


/* Smartphone  */

@media only screen and (max-width: 767px) {
.picture {
  max-width: 150px;
}

header {
    flex-direction: column;
    margin-bottom: 40px;
}

.modifm{
    font-size: 10px;
}




}


